{% extends('base.html.twig') %}

{% block body %}
    {% for label, messages in app.flashes(['danger', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Strona główna</h1>

    {% for post in posts %}
        <div class="mb-3">
            <h3><a href="{{ path('show_post', {id: post.id}) }}" class="text-dark">{{ post.title }}</a></h3>
            <span class="btn bg-warning rounded-pill">Polubienia: {{ post.likes.count }}</span>
            {% if is_granted('ROLE_USER') %}
                {% set var = false %}
                {% for liked in likedPosts %}
                    {% if liked.post is same as(post) %}
                        <a href="{{ path('like_post', {id: post.id}) }}" class="btn btn-warning">Usuń like'a</a>
                        {% set var = true %}
                    {% endif %}
                {% endfor %}

                {% if var is same as(false) %}
                    <a href="{{ path('like_post', {id: post.id}) }}" class="btn btn-warning">Like</a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}