{% extends('base.html.twig') %}

{% block body %}
    {% for label, messages in app.flashes(['danger', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>
    <span class="badge bg-warning rounded-pill">Polubienia: {{ post.likes.count }}</span>

    <div class="mt-3">
        <h5>Komentarze:</h5>
        <div class="container">
            {% for comment in comments %}
                <div class="mt-2">
                    <h6>{{ comment.author }}
                        {% if not comment.createdByUser %}
                            <span>(gość)</span>
                        {% endif %}
                    </h6>
                    <p>{{ comment.body }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-3">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('add_comment', {id: post.id}) }}" class="btn btn-info">Dodaj komentarz</a>
        {% else %}
            <a href="{{ path('add_comment_anonymously', {id: post.id}) }}" class="btn btn-info">Dodaj komentarz</a>
        {% endif %}
    </div>
{% endblock %}