<nav class="navbar navbar-expand-sm navbar-dark bg-success mb-3">
    <div class="container">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('dashboard') }}" class="navbar-brand">Blog</a>
        {% else %}
            <a href="{{ path('index') }}" class="navbar-brand">Blog</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('create_post') }}" class="nav-link">Nowy post</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="nav-link">Wyloguj się</a>
                    </li>
                </ul>
            {% elseif is_granted('ROLE_USER') %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('favourite_posts') }}" class="nav-link">Ulubione</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="nav-link">Wyloguj się</a>
                    </li>
                </ul>
            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('registration') }}" class="nav-link">Zarejestruj się</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">Zaloguj się</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>